extends layout


block content
  .content
  h1 Bem-vindo à WW Loja!
  p Aqui você pode navegar entre os produtos e cadastrar novos itens.

  // Botões para Produtos e Cadastro de Produtos
  a.pure-button.pure-button-primary(href="/produtos") Ver Produtos
  a.pure-button.pure-button-primary(href="/cadastro-produtos") Cadastrar Produtos
