extends layout

block content
  .content
    h1 Bem-vindo à WW Loja de Equipamentos de TI!
    p Aqui você pode encontrar e cadastrar produtos de informática.

    .login-container
  h1 Login
  if error
    p.error= error
  form.pure-form.pure-form-stacked(action="/login", method="post")
    fieldset
      .form-group
        label(for="email") Email:
        input(type="email", id="email", name="email", required)
      .form-group
        label(for="senha") Senha:
        input(type="password", id="senha", name="senha", required)
      .form-group
        button.pure-button.pure-button-primary(type="submit") Entrar


