doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title} - WW Loja
    link(rel="stylesheet", href="/pure-min.css")
    link(rel="stylesheet", href="/style.css")
    link(rel="stylesheet", href="/produtos.css")
    link(rel="stylesheet", href="/cadastrar-produtos.css")

  body
    header
      .pure-menu.pure-menu-horizontal
        if isHomePage
          a.pure-menu-heading.pure-menu-link.pure-menu-disabled(href="/home") WW Loja
          if !isAuthenticated
            a.pure-menu-link(href="/login") Entrar
        else
          a.pure-menu-heading.pure-menu-link(href="/home") WW Loja
        if isAuthenticated
          a.pure-menu-link(href="/produtos") Produtos
          a.pure-menu-link(href="/cadastro-produtos") Cadastrar Produtos
          a.pure-menu-link(href="/settings") Configurações  
          a.pure-menu-link.logout-button(href="/logout") Sair
    main
      block content
    footer
      .footer-content
        p &copy; 2024 WW Loja. Todos os direitos reservados.

    // Adiciona o script do Swiper.js antes do fechamento do body
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")

    // Script para inicializar o Swiper
    if isAuthenticated
      script.
        !{initializeSwiper}
