extends layout

block content
  .content
    h2 Produtos Disponíveis
    if produtos.length
      .produtos-grid
        each produto in produtos
          .produto-card
            h3= produto.nome
            p.descricao Descrição: #{produto.descricao}
            p.preco Preço: R$ #{produto.preco}
            a.pure-button(href='#') Comprar
            a.pure-button.pure-button-primary(href='#') Detalhes
    else
      p Nenhum produto disponível no momento.